<%= form_with model: question, class: 'new-question-form' do |form| %>
  <% if question.errors.any? %>
    <div class="error-block">
      <div class="form-error-heading">
        The following errors prevented the question from being saved
      </div>
      <ul class="form-error-list">
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-content">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-field' %>
  </div>
  <div class="form-content">
    <%= form.label :content, class: 'form-label' %>
    <%= form.hidden_field :content, id: 'question_content' %>
    <trix-editor input="question_content" style="height: 30vh; overflow: scroll; padding: 3%; border_radius: 1vh"></trix-editor>
  </div>
  <div class="form-content">
    <%= form.label 'Upload Files', class: 'form-label' %>
    <%= form.file_field :files, multiple: true, class: 'form-field', accept: 'application/pdf' %>
  </div>
  <div class="form-content">
    <%= form.label 'Topics (comma seperated)', class: 'form-label' %>
    <%= form.text_field :topic_list, class: 'form-field', id: 'search' %>
    <ul id="search-results"></ul>
  </div>

  <% if @question.published_at? %>
    <%= form.submit 'Save', class: 'form-submit' if @question.id %>
  <% else %>
    <%= form.submit 'Publish', class: 'form-submit' %>
    <%= form.submit 'Save as Draft', class: 'form-cancel' %>
  <% end %>
<% end %>

<%= javascript_include_tag 'topics_dropdown' %>
