<%= render 'full_question', question: @question %>

<% if @question.published_at? %>
  <%= render 'option_list' %>
  <hr style="width: 80vw; margin: 2%; margin-left: 10%;">
  <div class="form-heading" style="margin-left: 4%">Comments:</div>
  <%= render @comments %>

  <div class="user-pagination-links">
    <%= paginate @comments %>
  </div>

  <%= render 'comments/form', comment: Comment.new, resource: @question %>
<% end %>
