<div class="answer-show">
<% if request.url.match? users_path %>
  <div class="question-on">
    <% if comment.commentable.class == Question %>
      ON: <%= link_to comment.commentable.title, comment.commentable %>
    <% elsif comment.commentable.class == Answer %>
      ON: <%= link_to answer_path(comment.commentable.id), comment.commentable %>
      
    <% end %>
    <br>
    AT: <%= comment.updated_at %>
  </div>
<% else %>
  <div class="question-user-details">
    <% if !comment.user || comment.user.profile_picture.blank? %>
      <div class="profile-thumbnail-in-question" style = "background-image: url('/assets/default-pfp.jpg')">
    <% else %>
      <div
        class="profile-thumbnail-in-question",
        style = "background-image: url(<%= url_for comment.user.profile_picture %>)"
      >
    <% end %>
      </div>
    <%= link_to comment.user.name, user_path(comment.user.id), class: 'question-user-name' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_comment_path(comment.id), class: 'edit-question-button' if @set_current_user == comment.user %>

<div class="answer-content">
  <%= comment.content %>
</div>


</div>