<div class="answer-show">
<% if request.url.match? '/users' %>
  <div class="question-on">
    <%= commented_on comment %>
    <br>
    AT: <%= comment.updated_at %>
    <br>
    NET_UPVOTES: <%= comment.net_upvote_count %>
  </div>
<% else %>
  <%= render 'shared/vote_panel', resource: comment %>
  <div class="question-user-details">
    <%= render 'shared/user_profile_picture', user: comment.user %>
    <%= render 'shared/user_name', user: comment.user %>
  </div>
<% end %>

<% unless request.url.match? '/users' %>
  <button class="edit-question-button" onclick="reportAbuse('<%= comment.class %>', <%= comment.id %>)">Report Abuse</button>
<% end %>
<%= link_to 'Edit', edit_comment_path(comment.id), class: 'edit-question-button' if current_user == comment.user %>

<div class="answer-content">
  <%= comment.content %>
</div>


</div>