<%= form_with model: @user, class: 'center-align' do |form| %>
  <h1>Edit your details</h1>
  <%= render 'shared/message_blocks' %>
  <% if @user.errors.any? %>
    <div class="error-block">
      <div class="form-error-heading">
        The following errors prevented the User from being saved
      </div>
      <ul class="form-error-list">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-field' %>
  </div>
  &nbsp;

  <div>
    <%= form.label 'Upload a profile picture', class: 'form-label' %>
    <%= form.file_field :profile_picture, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  &nbsp;

  <div>
    <%= form.label 'Topics (comma seperated)', class: 'form-label' %>
    <%= form.text_field :topic_list, class: 'form-field', value: topic_list_for(@user), id: 'search', autocomplete: 'off'  %>
    <ul id="search-results"></ul>
  </div>
  &nbsp;

  <div>
    <%= form.button 'Save', class: 'form-submit' %>
    <%= link_to 'Discard', user_path, class: 'form-cancel' %>
  </div>
<% end %>

<%= button_to 'Delete Account',
              user_path(@user.id),
              class: 'delete-user',
              method: :delete,
              form: { data: { turbo_confirm: 'Are you Sure you want to delete the user' } } %>

<%= javascript_include_tag 'topics_dropdown' %>
