<%= form_with model: @user, class: 'center-align' do |form| %>
  <h1>Edit your details</h1>
  <% if @user.errors.any? %>
    <div class="error-block">
      <div class="form-error-heading">
        The following errors prevented the User from being saved
      </div>
      <ul class="form-error-list">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-field' %>
  </div>
  &nbsp;

  <div>
    <%= form.label 'Upload a profile picture', class: 'form-label' %>
    <%= form.file_field :profile_picture, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  &nbsp;

  <div>
    <%= form.label 'Select the topics', class: 'form-label' %>
    <%= form.text_field :topic_list, class: 'form-field', value: @topics, id: 'search', autocomplete: 'off'  %>
    <ul id="search-results"></ul>
  </div>
  &nbsp;

  <div>
    <%= form.button 'Save Changes', class: 'form-submit' %>
    <%= link_to 'Cancel Changes', user_path, class: 'form-cancel' %>
  </div>
<% end %>

<%= javascript_include_tag 'topics_dropdown' %>

