<div class="center-align" style="text-align: center">
  <% if flash[:notice] %>
    <div class="error-block">
      Error: <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="form-heading">Verify your email</div>

  <div class="form-label">Hi, <%= @user.name %>, a verification email was sent to your email id (<%= @user.email %>), with a verification token , please enter it in the box below: </div>

  <%= form_with url: '/users/validate_verification_token', scope: :validate do |form| %>

    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.text_field :verification_token, class: 'form-field' %>
    <%= form.submit 'Validate Token', class: 'form-submit' %>
  <% end %>
</div>

