<%= form_with model: @user, url: signup_path, class: 'form center-align' do |form| %>
  <div class="form-heading"><%= t('.signup') %></div>
  <%= render 'shared/message_blocks' %>
  <% if @user.errors.any? %>
    <div class="error-block">
      <div class="form-error-heading">
        <%= t '.error-msg' %>
      </div>
      <ul class="form-error-list">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.name'), class: 'form-label' %>
    <%= form.text_field :name, class: 'form-field' %>
  </div>

  <div>
    <%= form.label t('.email'), class: 'form-label' %>
    <%= form.email_field :email, class: 'form-field' %>
  </div>

  <div>
    <%= form.label t('.password'), class: 'form-label' %>
    <%= form.password_field :password, class: 'form-field' %>
  </div>

  <div>
    <%= form.label t('.confirm'), class: 'form-label' %>
    <%= form.password_field :password_confirmation, class: 'form-field' %>
  </div>

  <%= form.button t('.signup'), class: 'form-submit' %>
  
  <div class="form-messages"><%= t('.already') %> <%= link_to t('.login'), login_path %></div>
<% end %>
