<% if flash[:notice] %>
  <div class="message-block">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:token_notice] %>
  <div class="message-block">
    <%= flash[:token_notice] %>
    <%= t '.click' %> <%= link_to 'this link', confirmation_path %> <%= t '.resend' %>
  </div>
<% elsif flash[:alert] %>
  <div class="error-block">
    <%= flash[:alert] %>
  </div>
<% end %>
