<nav class="navbar">
  <%= link_to image_tag('/assets/quora.png', class: 'logo-image'), root_path %>
  <div class="navbar-list">
    <% if @current_user %>

      <%= highlighted_link t('navbar.home'),
                           'navbar-buttons',
                           'navbar-button-highlight',
                           root_path %>

      <%= highlighted_link t('navbar.account'),
                           'navbar-buttons',
                           'navbar-button-highlight',
                           user_path(id: @current_user.id) %>
                          
      <%= highlighted_link t('navbar.question'),
                           'navbar-buttons',
                           'navbar-button-highlight',
                           new_question_path %>
     
      <%= button_to t('navbar.logout'), logout_path, class: 'navbar-form-buttons', method: :delete %>
    <% else %>
      <% if request.path == login_path %>
        <%= link_to t('navbar.signup'), signup_path, class: 'navbar-buttons' %>
      <% else %>
        <%= link_to t('navbar.login'), login_path, class: 'navbar-buttons' %>
      <% end %>
    <% end %>
  </div>
</nav>
