<nav class="navbar">
  <%= link_to image_tag('/assets/quora.png', class: 'logo-image'), root_path %>
  <div class="navbar-list">
    <% if current_user %>

      <a
        href="<%= notifications_path %>"
        class="notification-bell
        <%= current_user.notifications.unread.any? ? 'notified' : '' %>"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="inherit" height="inherit" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
      </a>

      <%= highlighted_link 'Home',
                           'navbar-buttons',
                           'navbar-button-highlight',
                           root_path %>

      <%= highlighted_link 'Account',
                           'navbar-buttons',
                           'navbar-button-highlight',
                           user_path(id: current_user.id) %>
                          
      <%= highlighted_link 'Ask a Question',
                           'navbar-buttons',
                           'navbar-button-highlight',
                           new_question_path %>
     
      <%= button_to 'Logout', logout_path, class: 'navbar-form-buttons', method: :delete %>
    <% else %>
      <% if request.path == login_path %>
        <%= link_to 'Signup', signup_path, class: 'navbar-buttons' %>
      <% else %>
        <%= link_to 'Login', login_path, class: 'navbar-buttons' %>
      <% end %>
    <% end %>
  </div>
</nav>
