<div class="answer-show">
<% if request.url.match? '/users' %>
  <div class="question-on">
    ON: <%= link_to answer.question.title, answer.question %>
    <br>
    AT: <%= answer.updated_at %>
    <br>
    NET_UPVOTES: <%= answer.net_upvote_count %>
  </div>
<% else %>
  <%= render 'shared/vote_panel', resource: answer %>
  <div class="question-user-details">
    <%= render 'shared/user_profile_picture', user: answer.user %>
    <%= render 'shared/user_name', user: answer.user %>
  </div>
<% end %>

<% unless request.url.match? '/users' %>
  <button class="edit-question-button" onclick="reportAbuse('<%= answer.class %>', <%= answer.id %>)">Report Abuse</button>
  <%= link_to 'Comments', answer, class: 'edit-question-button' %>
<% end %>

<%= link_to 'Edit', edit_answer_path(answer.id), class: 'edit-question-button' if current_user == answer.user %>


<div class="answer-content">
  <%= answer.content %>
</div>


</div>