<div class="answer-show">
<% if request.url.match? users_path %>
  <div class="question-on">
    ON: <%= link_to answer.question.title, answer.question %>
    <br>
    AT: <%= answer.updated_at %>
  </div>
<% else %>
  <div class="question-user-details">
    <%= render 'shared/resource_poster_profile_picture', resource: answer %>
    <%= render 'shared/resource_poster_name', resource: answer %>
  </div>
<% end %>

<%= link_to 'Edit', edit_answer_path(answer.id), class: 'edit-question-button' if @current_user == answer.user %>

<%= link_to 'Comments', answer, class: 'edit-question-button' %>

<div class="answer-content">
  <%= answer.content %>
</div>


</div>