<div class="answer-show">
<% if request.url.match? users_path %>
  <div class="question-on">
    ON: <%= link_to answer.question.title, answer.question %>
    <br>
    AT: <%= answer.updated_at %>
  </div>
<% else %>
  <div class="question-user-details">
    <% if !answer.user || answer.user.profile_picture.blank? %>
      <div class="profile-thumbnail-in-question" style = "background-image: url('/assets/default-pfp.jpg')">
    <% else %>
      <div
        class="profile-thumbnail-in-question",
        style = "background-image: url(<%= url_for answer.user.profile_picture %>)"
      >
    <% end %>
      </div>

    <% if answer.user %>
      <%= link_to answer.user.name, user_path(answer.user.id), class: 'question-user-name' %>
    <% else %>
      <div class="question-user-name">
        'DELETED'
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_answer_path(answer.id), class: 'edit-question-button' if @current_user == answer.user %>

<div class="answer-content">
  <%= answer.content %>
</div>


</div>