<div class="center-align" style="text-align: center">
  <%= render 'shared/message_blocks' %>

  <div class="form-heading"><%= t '.verify' %></div>

  <div><%= t '.email-prompt' %></div>

  <%= form_with do |form| %>
    <%= form.email_field :email, class: 'form-field' %>
    <%= form.submit t('.submit'), class: 'form-submit' %>
  <% end %>
</div>
