<tr style="background: <%= user.admin? ? 'rgba(121, 203, 62, 0.535)' : '' %>">
 <td><%= user.id %></td>
 <td><%= user.email %></td>
 <td><%= user.name %></td>
 <td><%= user.credits %></td>
 <td><%= button_to 'Disable', user, method: :delete, class: 'function-button delete-table-btn', data: { turbo: false } %></td>
</tr>
