<!DOCTYPE html>
<html>
  <head>
    <title>QuoraClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'show_password' %>
    <%= stylesheet_link_tag "https://unpkg.com/trix@2.0.0/dist/trix.css" %>
    <%= javascript_include_tag "https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js" %>
  </head>

  <body>
    
    <%= render 'shared/navbar' %>

    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
