<!DOCTYPE html>
<html>
  <head>
    <title>QuoraClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'show_password' %>
    <%= javascript_include_tag 'report_abuse' %>
    <%= stylesheet_link_tag "https://unpkg.com/trix@2.0.0/dist/trix.css" %>
    <%= javascript_include_tag "https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js" %>
  </head>

  <body>

    <div
      style="visibility: hidden"
      id="current_user_topics"
      data="<%= current_user&.topic_list %>"
    ></div>
    
    <%= render 'shared/navbar' %>

    <div class="main">
      <%= yield %>
    </div>

    <div class="autoreload-notification" onclick="window.location.href = '<%= root_url %>';">
      New questions posted, click here to reload page
    </div>
  </body>
</html>
